@using System.Reflection.Emit
@using PrantiksmeApp.Models
@using PrantiksmeApp.Models.IdentityModels
@model PrantiksmeApp.Models.IdentityModels.LoginViewModel
@{
                /**/

                ViewBag.Title = "Log in";
}

<div class="post postdiv">
    <header class="headerdiv">
        <div class="title titlediv">
            <h2><span><a><i class="glyphicon glyphicon-hand-right"></i></a>&nbsp;</span><a href="#">Account Log In</a></h2>

        </div>
        <div class="meta metadiv">
            <div class="row metarow">
                <a href="#" title="User" data-toggle=""><i class="fa fa-user"></i></a>
                <a href="#" title="Search" data-toggle=""><i class="fa fa-search"></i></a>
                <a href="#" title="Setting" data-toggle=""><i class="fa fa-gear"></i></a>
                <a href="#divCollapse" title="Collapse" data-toggle="collapse"><i class="fa fa-angle-double-down"></i></a>
            </div>
        </div>
    </header>

    <div id="divCollapse" class="collapse in text-justify maindiv ">
        <div class="row">
            <div class="col-md-8">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Use Email and Password to log in.</h4>
                        <hr />
                        <div class="form-group">
                            @Html.Label(" ",null,new{@class="col-md-3 control-label"})
                            <div class="col-md-6">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                            <div class="col-md-6">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.RememberMe, "Remember?", new { @class = "col-md-3 control-label" })
                            <div class="col-md-6">
                                <!-- For Togle Switch: Need Install "Bootstrap-Toggle-Master" Package-->
                                @Html.CheckBoxFor(m => m.RememberMe, new { @id = "rememberMeCheckBox", @data_toggle = "toggle", @data_on = "Yes", @data_off = "No" })
                                @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                            </div>*@
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-success" />
                                @Html.ActionLink("Cancel", "Login", "Account", null, new { @class = "btn btn-danger" })
                            </div>
                        </div>

                        @*<p>
                                @Html.ActionLink("Register as a new user", "Register")
                            </p>*@
                        @* Enable this once you have account confirmation enabled for password reset functionality*@
                        @*<p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>*@
                    }
                </section>
            </div>
            <div class="col-md-4">
                <section>
                    <h4>Forgot your password?</h4>
                    <hr />
                    <p>
                        @Html.ActionLink("Forgot password", "ForgotPassword", "Account", null, new { @class = "btn btn-default" })
                    </p>
                </section>

                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}