@model PrantiksmeApp.Models.IdentityModels.RegisterViewModel
@{
    /**/

    ViewBag.Title = "Register";
}


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="post postdiv">
        <header class="headerdiv">
            <div class="title titlediv">
                <h2><span><a><i class="glyphicon glyphicon-hand-right"></i></a>&nbsp;</span><a href="#">Account Registration</a></h2>

            </div>
            <div class="meta metadiv">
                <div class="row metarow">
                    <a href="#" title="User" data-toggle=""><i class="fa fa-user"></i></a>
                    <a href="#" title="Search" data-toggle=""><i class="fa fa-search"></i></a>
                    <a href="#" title="Setting" data-toggle=""><i class="fa fa-gear"></i></a>
                    <a href="#divCollapse" title="Collapse" data-toggle="collapse"><i class="fa fa-angle-double-down"></i></a>
                </div>
            </div>
        </header>

        <div id="divCollapse" class="collapse in text-justify maindiv ">

            <h4>Create a new account.</h4>
            <hr />
            @Html.ValidationSummary(true,"", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-success" value="Register" />
                    @Html.ActionLink("Cancel", "Register", "Account", new { @class = "btn btn-danger" })
                </div>
            </div>

        </div>

    </div>

}

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
