@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>

    <title>PRANTIKSME</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="icon" type="image/ico" href="~/images/favicon.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet" />

    <!--Layout style start-->
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <!--Layout style end-->

    @Styles.Render("~/project/css")
    @RenderSection("styles", required: false)

</head>

<body class="single is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <img src="~/images/mylogo.jpg" alt="Prantiksme logo" width="60px" height="auto">

            <h1><a href="@Url.Action("Index","Home")">Prantik sme</a></h1>
            <nav class="links">
                <ul>
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li><a href="@Url.Action("About","Home")">About</a></li>
                    <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                    <li><a href="@Url.Action("Index","Home")">Product</a></li>

                </ul>
            </nav>
            <nav class="main">
                <ul>
                    @*@if (Request.IsAuthenticated)
                        {
                            <li class="menu">
                                <span style="color: darkgreen; text-transform: uppercase; font-weight: bold; font-size: 7pt;"> @User.Identity.GetUserName() </span>
                            </li>

                        }*@

                    <li class="search">
                        <a class="fa-search" href="#search">Search</a>
                        <form id="search" method="get" action="#">
                            <input type="text" name="query" placeholder="Search" />
                        </form>
                    </li>
                    <li class="menu">
                        <a class="fa-bars" href="#menu">Menu</a>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Menu -->
        <section id="menu">

            <!-- Search -->
            <section>
                <form class="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Search" />
                </form>
            </section>

            <!-- Links -->
            <section>
                <ul class="links">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li><a href="@Url.Action("About","Home")">About</a></li>
                    <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                    <li><a href="@Url.Action("Index","Home")">Product</a></li>
                    @*<li>
                            <a href="#">
                                <h3>Lorem ipsum</h3>
                                <p>Feugiat tempus veroeros dolor</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h3>Dolor sit amet</h3>
                                <p>Sed vitae justo condimentum</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h3>Feugiat veroeros</h3>
                                <p>Phasellus sed ultricies mi congue</p>
                            </a>
                        </li>*@

                </ul>
            </section>

            <!-- Actions -->
            <section>
                @*<ul class="actions stacked">
                        <li><a href="#" class="button large fit">Log In</a></li>
                    </ul>*@
                @Html.Partial("_LoginPartial")
            </section>

        </section>

        <!-- Main -->
        <div id="main">
            <div class="post" style="min-height: 100vh;">
                @RenderBody()
            </div>

        </div>


        <!-- Footer -->
        <section id="footer">
            <ul class="icons">
                <li><a href="#" class="fa-twitter" title="Twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="fa-facebook" title="Facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="fa-instagram" title="Instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="fa-rss" title="RSS"><span class="label">RSS</span></a></li>
                <li><a href="#" class="fa-envelope" title="Email"><span class="label">Email</span></a></li>
            </ul>
            <p class="copyright">&copy; Copyright - 2019. All Rights Reserved: <a href="@Url.Action("Index","Home")">Prantiksme</a>.</p>
        </section>

    </div>

    <!-- Scripts -->


    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/bootstrap2-toggle.min.js"></script>
    

    <!--Layout script start-->
    @*<script src="~/assets/js/jquery.min.js"></script>*@
    <script src="~/assets/js/browser.min.js"></script>
    <script src="~/assets/js/breakpoints.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>
    <!--Layout script end-->

    @Scripts.Render("~/project/js")

    @RenderSection("scripts", required: false)

</body>

</html>
