@model PrantiksmeApp.Models.ViewModels.ProprietorViewModels.ProprietorDetailsVm

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="post postdiv">
    <header class="headerdiv">
        <div class="title titlediv">
            <h2><span><a><i class="glyphicon glyphicon-hand-right"></i></a>&nbsp;</span><a href="#">Proprietor</a></h2>

        </div>
        <div class="meta metadiv">
            <div class="row metarow">
                <a href="#" title="User" data-toggle=""><i class="fa fa-user"></i></a>
                <a href="#" title="Search" data-toggle=""><i class="fa fa-search"></i></a>
                <a href="#" title="Setting" data-toggle=""><i class="fa fa-gear"></i></a>
                <a href="#divCollapse" title="Collapse" data-toggle="collapse"><i class="fa fa-angle-double-down"></i></a>
            </div>
        </div>
    </header>

    <div id="divCollapse" class="collapse in text-justify maindiv ">
        <div class="form-horizontal">
            <h4> Proprietor Details:</h4>
            <hr />
            <div class="row">

                <div class="col-md-6 col-wide">

                    <div class="form-group">
                        @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8 display-text">
                            @Html.DisplayTextFor(model => model.FullName)

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8 display-text">
                            @Html.DisplayTextFor(model => model.ContactNo)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8 display-text">
                            @if (Model.DateOfBirth != null)
                            {
                                var date = (DateTime)Model.DateOfBirth;
                                @date.ToString("dd-MMM-yyyy");
                            }
                            else
                            {
                                @Html.Label("N/ A")
                            }

                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.JoiningDate, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8 display-text">
                            @if (Model.JoiningDate != null)
                            {
                                var date = (DateTime)Model.JoiningDate;
                                @date.ToString("dd-MMM-yyyy");
                            }
                            else
                            {
                                @Html.Label("N/ A")
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.NIDNo, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8 display-text">
                            @Html.DisplayTextFor(model => model.NIDNo)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UniversalCode, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8 display-text">
                            @Html.DisplayTextFor(model => model.UniversalCode)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8 display-text">
                            @Html.DisplayTextFor(model => model.Email)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8 display-text">
                            @Html.DisplayTextFor(model => model.Address)
                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-wide">
                    <div class="form-group">
                        @Html.LabelFor(model => model.AppUserTypeId, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8 display-text">
                            @Html.DisplayTextFor(model => model.AppUserType.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.GenderId, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8 display-text">
                            @Html.DisplayTextFor(model => model.Gender.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8 display-text">
                            @Html.DisplayTextFor(model => model.AppUser.UserName)
                        </div>
                    </div>

                </div>



            </div>
            <hr />
            <div class="form-group" align="right">
                @Html.ActionLink("Edit", "Edit", "Proprietors", new { id = Model.Id }, new { @class = "btn btn-success btn-size" })
                @Html.ActionLink("Search", "Search", "Proprietors", null, new { @class = "btn btn-info btn-size" })
            </div>

        </div>
    </div>

</div>
